@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  min-height: 100vh;
  background-color: #f7f6f2;
}

/* Font Type */
.text-content {
  font-family: "Nunito", sans-serif;
}
.text-tittle {
  font-family: "Rubik", sans-serif;
}

/* Navbar */
nav {
  font-family: "Rubik", sans-serif !important;
}
.navbar {
  padding: 10px 0px;
}
.nav-link.active {
  position: relative;
}
.nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #56854e;
}
.navbar-brand {
  font-weight: 700;
}
.logo a > img {
  width: 2rem;
  margin-right: 15px;
}
.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}
.nav-item {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #56854e;
  transition: width 0.3s ease-out;
}
.nav-item:hover.nav-item::after {
  width: 100%;
}
.nav-item > a {
  color: #342b2b !important;
}
.navbar-login {
  margin-left: 16px;
  color: #ffffff;
  border-color: #56854e;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

/* Button */
.btn {
  background-color: #5a8653;
  border-color: #5a8653;
  border-radius: 10px;
  padding: 10px 25px;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #496b44 !important;
  border-color: #5a8653;
  box-shadow: none !important;
}

.btnCancel {
  background-color: #7a7a7a;
  border-color: #7a7a7a;
  border-radius: 10px;
  padding: 10px 25px;
  box-shadow: none !important;
}

.btnCancel:hover,
.btnCancel:active,
.btnCancel:focus {
  background-color: #414141 !important;
  border-color: #7a7a7a;
  box-shadow: none !important;
}

/* Thumbnail */
.image {
  height: 350px;
  border-radius: 5%;
  object-fit: cover;
}

/* Detail Card */
.joinCard {
  box-shadow: 15px;
}
.title {
  background-color: #5a8653;
  border-radius: 10px 10px 0px 0px;
  color: white;
}
.title > h6 {
  margin: 0 !important;
}
.body {
  background-color: #f3efdd;
  border-radius: 0px 0px 10px 10px;
}
.joinTime {
  margin: 5px;
}
.lokasi > img {
  width: 20px;
  margin-right: 5px;
}
.lokasi > a {
  text-decoration: none;
  color: #342b2b;
}

/* From Modal */
.modal-content {
  background-color: rgb(233, 235, 218);
}
.modal-header {
  background-color: #5a8653 !important;
}

/* Footer */
.last {
  padding: 0px;
}
.footer {
  margin-top: -100px;
  background-color: #5a8653;
  color: #241c1c !important;
  font-family: "Rubik", sans-serif;
}
.footer a {
  color: #241c1c !important;
}
.footer hr {
  border: 1px solid black !important;
}
.icons > img {
  width: 8%;
  margin: 3px 12px 0px;
}
.footer p {
  font-size: 12px;
  font-weight: 500;
}
