@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  min-height: 100vh;
  background-color: #f7f6f2;
}

/* Navbar */
nav {
  font-family: "Rubik", sans-serif !important;
}
.navbar {
  padding: 10px 0px;
}
.nav-link.active {
  position: relative;
}
.nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #56854e;
}
.navbar-brand {
  font-weight: 700;
}
.logo a > img {
  width: 2rem;
  margin-right: 15px;
}
.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}
.nav-item {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #56854e;
  transition: width 0.3s ease-out;
}
.nav-item:hover.nav-item::after {
  width: 100%;
}
.nav-item > a {
  color: #342b2b !important;
}
.navbar-login {
  margin-left: 16px;
  color: #56854e !important;
  border-color: #56854e;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.navbar-login:hover {
  border-color: #56854e;
  color: #ffffff !important;
}

/* Jumbotron */
.jumbotron {
  padding-top: 55px !important;
}
.header {
  background-color: #ebf1fa;
}
.header .text-content {
  margin-top: 60px;
  padding-right: 15px;
}
.header #headline {
  font-size: 60px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 5px;
}
#headline span {
  font-weight: 900;
}
.header #title {
  font-size: 18px;
  margin-bottom: 2px;
}
.polaroid {
  margin: 50px 0px 0px 50px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 18px 18px 0px;
  box-shadow: 10px 17px 18px 1px rgb(197, 202, 204);
  transform: rotate(-5deg);
  width: 350px;
}
.pic-left {
  display: none;
}
.polaroid img {
  display: block;
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: 65% 20%;
  border-radius: 5px;
}
.polaroid p {
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: bold;
}

/* Content */
.text-content {
  font-family: "Nunito", sans-serif;
}
.first {
  font-size: 18px;
  margin-bottom: 12px;
}

.second {
  margin-bottom: 12px;
  font-weight: 700;
}

.third {
  font-size: 14px;
  margin-bottom: 20px;
}

.btn-success {
  background-color: #56854e;
  border-radius: 8px;
  padding: 7px 25px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #406139 !important;
  box-shadow: none !important;
}

/* Card */
#benefit {
  margin-top: -140px;
}
#benefit .icon {
  padding: 30px 70px;
}
.icon > img {
  width: 30%;
}
.icon > h5 {
  font-size: 22px;
}

/* About Us */
#about {
  margin-top: -60px;
}
#about .text-content {
  padding-right: 100px;
}
#img-about > img {
  border-radius: 5px;
  height: 50vh;
  width: 80%;
  object-fit: cover;
  box-shadow: 10px 17px 18px 1px rgb(197, 202, 204);
}

/* Carousel */
#gallery {
  margin: -20px 0px 30px;
}
.carousel-item > img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 3px;
}

/* Coming Soon */
#cs {
  margin: -70px 0px 0px;
}
#cs .card {
  border-radius: 5px;
}
#cs .card-title {
  font-size: 16px;
  font-weight: 700;
}
#cs .card-text {
  margin-top: -5px;
  font-size: 13px;
  margin: -5px 0px 10px;
}
.time {
  margin-bottom: 10px;
}
#cs .card-img-top {
  height: 30vh;
  object-fit: cover;
}
#cs .time > img {
  width: 18px;
}
.time small {
  font-size: 12px;
}
#cs span img {
  margin-top: -2px;
  width: 18px;
  margin-left: 5px;
}
#cs a {
  text-decoration: none;
  color: #342b2b;
  font-size: 15px;
}

/* Section */
section {
  padding-top: 12rem;
}

/* Footer */
.last {
  padding: 0px;
}
.footer {
  margin-top: -100px;
  background-color: #5a8653;
  color: #241c1c !important;
  font-family: "Rubik", sans-serif;
}
.footer a {
  color: #241c1c !important;
}
.footer hr {
  border: 1px solid black !important;
}
.icons > img {
  width: 8%;
  margin: 3px 12px 0px;
}
.footer p {
  font-size: 12px;
  font-weight: 500;
}
.copyright > p {
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* navbar */
  .text-content {
    text-align: center;
  }
  .nav-link.active::after {
    display: none;
  }
  .nav-item {
    padding-top: 5px;
  }
  .navbar-login .navbar-logout {
    margin-top: 10px;
    padding: 3px;
    margin-left: -18px;
    width: 100px;
  }

  /* Jumbotron */
  .jumbotron {
    padding-top: 45px !important;
  }
  .header .text-content {
    margin-top: 50px;
  }
  .header #headline {
    font-size: 31px;
  }
  .header #decs {
    margin-bottom: 5px;
  }
  .polaroid {
    padding: 12px 12px 0px;
    box-shadow: 8px 15px 12px -3px rgb(197, 202, 204);
    width: 70%;
  }
  .pic-left {
    display: block;
  }
  .pic-right {
    display: none;
  }
  .polaroid img {
    height: 30vh;
    border-radius: 3px;
  }
  .polaroid p {
    font-size: 16px;
  }

  /* Content */
  .third {
    margin-bottom: 40px;
  }

  /* Card */
  #benefit {
    margin-top: -50px;
  }
  #benefit .icon {
    padding: 10px 50px;
  }
  .icon > img {
    width: 20%;
    margin-bottom: 15px !important;
  }
  .icon > h5 {
    font-size: 20px;
    margin-bottom: 7px !important;
  }
  .icon > p {
    font-size: 14px;
  }
  /* About */
  #about {
    margin-top: 10px;
  }
  #img-about {
    margin-bottom: 30px;
  }
  #img-about > img {
    border-radius: 5px;
    height: 40vh;
    width: 80%;
    object-fit: cover;
    object-position: 80%;
    box-shadow: 10px 17px 18px 1px rgb(197, 202, 204);
  }
  #about .text-content {
    padding-right: 0px;
  }
  #about .third {
    margin-bottom: 25px;
  }
  /* Gallery */
  #gallery {
    margin-top: 30px;
  }
  .carousel-item > img {
    height: 38vh;
  }

  /* CS */
  #cs {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
  }
  #cs .card {
    margin: 0px 0px 40px;
    width: 100%;
  }
  #cs .link {
    align-items: center;
  }

  /* Section */
  section {
    padding-top: 80px;
  }

  /* Footer */
  .footer {
    margin-top: -1px;
  }
  .footer .logo {
    text-align: center;
    padding-bottom: 30px;
  }
  .footer #about-us {
    text-align: center;
  }

  .icons > img {
    width: 25px;
    margin: 3px 12px 0px;
  }
}
